@model IEnumerable<mLibrary.OpenData.FarmTran>

@{
    ViewBag.Title = "Index";
}
@section scripts{
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="dist/js/demo.js"></script>
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Open Data</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.transactionDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cropCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.cropName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.marketCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.marketName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.priceHigh)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.priceMid)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.priceLow)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.priceAvg)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.transactionNum)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.transactionDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cropCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cropName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.marketCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.marketName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.priceHigh)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.priceMid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.priceLow)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.priceAvg)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.transactionNum)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>